anypoint-mq/src/main/mule/anypoint-mq.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a71e2514-65b7-41b9-8a49-874ac3bc6bf8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<anypoint-mq:config name="Anypoint_MQ_Config" doc:name="Anypoint MQ Config" doc:id="a308a776-11e8-4330-980f-e14e8494cddb" >
		<anypoint-mq:connection url="https://mq-ap-southeast-1.anypoint.mulesoft.com/api/v1/organizations/b2f9bb3e-c822-423c-bf80-602a0d3c1892/environments/e0973019-4375-49c7-b73c-28ddeefac413" clientId="5ddb9d8e17a24d0f951ee698bfb45f3a" clientSecret="37173fDC5cb04475b3D4B9f02252B7B7" />
	</anypoint-mq:config>
	<flow name="anypoint-Publish-flow" doc:id="c6335d2e-84fb-4d7d-99d3-49be81d5a578" >
		<http:listener doc:name="Listener" doc:id="6121242e-3612-4dab-a5e6-19be9cfbaa8c" config-ref="HTTP_Listener_config" path="/mq"/>
		<logger level="INFO" doc:name="Logger" doc:id="e485638b-b0f2-4f13-b23d-eb4fcf3e1929" message="start logger"/>
		<anypoint-mq:publish doc:name="Publish" doc:id="490f2538-56a8-4e0a-a601-36136c16cbe3" config-ref="Anypoint_MQ_Config" destination="mule-test"/>
		<logger level="INFO" doc:name="Logger" doc:id="fdc685b4-6179-47a1-88a9-50305087027f" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="878acd4b-e6f2-4f31-89b0-4478b74e385a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"the message was published successfully"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="935af255-f68a-4ac2-b014-ec171f7d81c0" message="end logger"/>
	</flow>
	<flow name="anypoint-consume-flow" doc:id="3176cb6a-582f-4c7a-98d1-51d205eb474c" >
		<http:listener doc:name="Listener" doc:id="cc69b699-e255-4fe9-aded-3e72360001fd" config-ref="HTTP_Listener_config" path="/consume"/>
		<anypoint-mq:consume doc:name="Consume" doc:id="c8c9f046-ac4e-4e8c-89e1-5216d2d7923a" config-ref="Anypoint_MQ_Config" destination="mule-test"/>
		<logger level="INFO" doc:name="Logger" doc:id="7bc347e8-2633-48de-aa95-b3cafbfb77ca" message="#[payload]"/>
	</flow>
	<flow name="anypoint-subscriberflow" doc:id="6a94cbc9-3cc8-48d0-83d8-76dc17bb660f" >
		<anypoint-mq:subscriber doc:name="Subscriber" doc:id="c3b3c6f3-82bb-4e1f-a611-82a3c8fc3b3d" config-ref="Anypoint_MQ_Config" destination="mule-test" acknowledgementMode="MANUAL">
			<anypoint-mq:circuit-breaker tripTimeout="1" onErrorTypes="HTTP:NOT_FOUND,HTTP:SERVICE_UNAVAILABLE,HTTP:BAD_REQUEST" errorsThreshold="3" tripTimeoutUnit="MINUTES"/>
		</anypoint-mq:subscriber>
		<set-variable value="#[attributes.ackToken]" doc:name="token" doc:id="6427ffb8-207e-4253-b4aa-321db80a9508" variableName="token"/>
		<logger level="INFO" doc:name="Logger" doc:id="88d65a62-e3b6-4f09-ae7e-bd390639df0c" message="#[payload]"/>
		<http:request method="GET" doc:name="Request" doc:id="26a971d4-5f00-41d2-9bdc-f80b4108bd5c" url="http://localhost/test" />
		<anypoint-mq:ack doc:name="Ack" doc:id="0d64afd6-c77a-4284-aed9-c359a08d41d2" config-ref="Anypoint_MQ_Config" ackToken="#[vars.token]" />
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="60703551-768e-4d71-abae-6675b1b91ad9" type="ANYPOINT-MQ:CONNECTIVITY">
				<ee:transform doc:name="Transform Message" doc:id="25997971-05c6-400b-8e84-44f0fe177239" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Connectivity Error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<anypoint-mq:nack doc:name="Nack" doc:id="5325080b-8359-4c59-96a8-671f6b832580" config-ref="Anypoint_MQ_Config" ackToken="#[vars.token]" />
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6788ce10-8ff8-4bea-b27c-444478241ffb" type="ANYPOINT-MQ:DESTINATION_NOT_FOUND">
				<ee:transform doc:name="Transform Message" doc:id="2f004b39-2b3c-4735-acf6-7bd0bc485451" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Destination not found"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<anypoint-mq:nack doc:name="Nack" doc:id="27da41d8-9499-4ba0-918d-ecd633821d2b" config-ref="Anypoint_MQ_Config" ackToken="#[vars.token]" />
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c8161ea0-6ce0-4cfc-baab-86ed17024058" type="ANYPOINT-MQ:RETRY_EXHAUSTED">
				<ee:transform doc:name="Transform Message" doc:id="d265a09f-8ab0-4e96-91f1-3b40b79308ec" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Retry Exhausted"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<anypoint-mq:nack doc:name="Nack" doc:id="2470f192-0d2d-4c91-a841-c58b5a73b1b3" config-ref="Anypoint_MQ_Config" ackToken="#[vars.token]" />
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e5f528a2-1e2e-4220-9a9a-0a154378a618" type="HTTP:NOT_FOUND">
				<ee:transform doc:name="Transform Message" doc:id="388bcfad-6bc4-44d0-a536-71a961c5d802" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Not found"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<anypoint-mq:nack doc:name="Nack" doc:id="afc1290f-1199-4a6f-92d8-a0d6ac7ca47e" config-ref="Anypoint_MQ_Config" ackToken="#[vars.token]" />
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b962ed1a-874b-45c5-8858-8c743d6ce5e0" type="HTTP:SERVICE_UNAVAILABLE">
				<ee:transform doc:name="Transform Message" doc:id="3be230f5-8412-4ee9-b6b1-a07f877329b0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Service Unavailable"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<anypoint-mq:nack doc:name="Nack" doc:id="2b1d2023-d5a7-4904-82df-049abc2e82b5" config-ref="Anypoint_MQ_Config" ackToken="#[vars.token]" />
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="caf29ccb-974f-426d-8ede-ebe87cf91712" type="HTTP:BAD_REQUEST">
				<ee:transform doc:name="Transform Message" doc:id="97990363-3030-435a-a9a5-23062842a0f1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Bad Request"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<anypoint-mq:nack doc:name="Nack" doc:id="75a149eb-9c38-4db5-8f09-b60a794ea784" config-ref="Anypoint_MQ_Config" ackToken="#[vars.token]" />
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="43870e8f-3e62-43f1-8406-87e22eae9cea" type="HTTP:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="Transform Message" doc:id="b31e796a-34e9-4b11-b654-bc45e92414d9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Method Not Allowed"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<anypoint-mq:nack doc:name="Nack" doc:id="f9f344a1-d3b4-4d30-a35d-8b4eca3fd56a" config-ref="Anypoint_MQ_Config" ackToken="#[vars.token]" />
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2a923a5e-b61f-49ec-ae51-956107617a3a" type="HTTP:UNAUTHORIZED">
				<ee:transform doc:name="Transform Message" doc:id="13112157-a444-4ebb-b090-050c48e165b8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Unauthorized"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<anypoint-mq:nack doc:name="Nack" doc:id="bc69f246-a549-43be-bf95-78e924f5dd1f" config-ref="Anypoint_MQ_Config" ackToken="#[vars.token]" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
